/* A Free Design by Bryant Smith (bryantsmith.com) */

html, body {
text-align: center;
}
p {text-align: left;}

body {
	margin: 0;
	padding: 0;
	font-family:  Verdana, Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #05060a;
  background: #000 url(../images/background.png) repeat-x;
}
*
{
  margin: 0 auto 0 auto;
 text-align:left;}


#galleryInformation
{
font-family: Verdana, Helvetica, Arial, sans-serif;
padding:0px;
margin:0px;
padding-top:30px;
font-size:15px;
letter-spacing:1px;
}


#galleryInformation h2
{
margin-top:8px;
font-family: Verdana, Helvetica, Arial, sans-serif;
font-size:26px;
padding:0px;
letter-spacing:-1px;
}


#galleryInformation p
{
color:#05060a;
padding:2px;
padding-left:12px;
text-align:justify;
}


h1
{
color:#0A65C9;
font-size:40px;
font-weight:bold;
padding:0px;
margin:0px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
h2
{
padding:0px;
padding-left:20px;
margin-top:-10px;
color:#686868;
font-size:20px;
font-weight:bold;
}


#main_image {
	margin: 0 auto 10px auto;
	text-align: center;
	min-height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#main_image a {
	display: block;
	cursor: pointer;
	text-decoration: none;
}

#main_image img {
	margin-bottom: 2px;
	height: auto;
	max-width: 600px;
	width: 100%;
	display: block;
	border-radius: 4px;
	transition: opacity 0.3s ease;
}

#main_image img:hover {
	opacity: 0.9;
}


	.galleria_wrapper, .galleria_container
	{
	text-align:center;
	}

	.caption
	{
		color:#05060a;
		font-size:15px;
		text-align:center;
		display: block;
		margin: 0px auto;
	}

	#topContent
	{
	height:105px;
	}

	#topContent #rightTopContent
	{
	font-family: Verdana, Helvetica, Arial, sans-serif;
	line-height:105px;
	font-size:21px;
	text-align:right;
	}

	#topContent #rightTopContent a
	{
	margin-right:10px;
	margin-left:10px;
	}
	#topContent #rightTopContent a:hover
	{
		border-bottom:1px dashed #0247AE;
	}

a, a:visited
{
color:#0A65C9;
text-decoration:none;
}

a:hover
{
color:#0A65C9;
border-bottom:1px dashed #228FEA;
}


#footer
{
text-align:center;
font-size:10px;
color: #0A65C9;

}

#mainContainer {
	background-color: white;
	width: 900px;
	margin: 20px auto;
	border: 4px solid #efefef;
	border-radius: 8px;
}

.gallery {
	width: 300px;
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 4px;
}

.gallery li {
	width: 80px;
	height: 60px;
	border: 3px double #111;
	margin: 0;
	background: #000;
	overflow: hidden;
	cursor: pointer;
	position: relative;
}

.gallery li a {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
}

.gallery li img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	transition: opacity 0.3s ease;
}

.gallery li:hover img {
	opacity: 0.8;
}

.skip-to-content {
	position: absolute;
	left: -9999px;
	z-index: 999;
}

.skip-to-content:focus {
	left: 50%;
	transform: translateX(-50%);
	top: 10px;
	padding: 10px 20px;
	background: #0A65C9;
	color: white;
	text-decoration: none;
	border-radius: 4px;
}

.youtube-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	margin: 20px 0;
}

.youtube-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

